<!-- <div class="fixed top-0 left-0 right-0 z-50 backdrop-blur-3xl flex items-center justify-between w-full h-[100px]"> -->
<div class="fixed top-0 bg-neutral-black/50 backdrop-blur-2xl z-50 flex items-center justify-between w-full h-[100px]">
    <app-logo class="flex pl-5 pr-5"></app-logo>
    <div class="max-lg:hidden flex gap-9 pr-7 items-center">
        <app-links></app-links>
        <app-language-dropdown></app-language-dropdown>
    </div>
    <app-mobile-toggle class="lg:hidden pr-7" (menuDataEmitter)="handleMenuData($event)"></app-mobile-toggle>
</div>

<!-- Mobile Navbar -->
<div class="lg:hidden overflow-y-auto translate-x-[100%] z-40 fixed w-full top-[100px] h-[calc(100vh-100px)] bg-black/90 backdrop-blur-xl backdrop-grayscale border-t-1 border-neutral-white/50">
    <div class="flex-column w-fill m-5 max-lg:text-center">
        <app-language-dropdown></app-language-dropdown>
        <app-links></app-links>
    </div>
</div>