<!-- <div class="fixed top-0 left-0 right-0 z-50 backdrop-blur-3xl flex items-center justify-between w-full h-[100px]"> -->
<div class="fixed top-0 backdrop-blur-2xl z-50 flex items-center justify-between w-full h-[100px]">
    <app-logo class="flex pl-5 pr-5"></app-logo>
    <div class="max-lg:hidden flex gap-9 pr-7 items-center">
        <app-links></app-links>
        <app-language-dropdown></app-language-dropdown>
    </div>
    <app-mobile-toggle class="lg:hidden pr-7"></app-mobile-toggle>
</div>