<div class="flex-column flex-nowrap mt-30 mb-50">
    <div class="w-fit mx-auto text-center max-w-200">
        <h2 class="h2 -translate-x-[5px]"><img class="inline-block -translate-y-1 max-lg:w-9" ngSrc="img/portfolio.png" alt="portfolio icon" width="40" height="40"/> @if (currLanguage === 'en-US') { Projects} @else if (currLanguage === 'nl-NL') { Projecten}</h2>
        <p class="mb-7.5 mt-6">@if (currLanguage === 'en-US') {The following is a collection of projects that showcase my technological skills and creativity.} @else if (currLanguage === 'nl-NL') {Een verzameling van projecten die mijn technische vaardigheden en creativiteit demonstreren.}</p>
    </div>
</div>