<div class="flex-column flex-nowrap max-md:mt-0 max-xl:mt-40 mt-30 mb-50">
    <div class="w-fit mx-auto text-center max-w-200">
        <h2 class="h2 -translate-x-[5px]"><img class="inline-block -translate-y-1 max-lg:w-9" ngSrc="img/portfolio.png" alt="portfolio icon" width="40" height="40"/> @if (currLanguage === 'en-US') { Projects} @else if (currLanguage === 'nl-NL') { Projecten}</h2>
        <p class="mb-7.5 mt-6">@if (currLanguage === 'en-US') {The following is a collection of projects that showcase my technological skills and creativity.} @else if (currLanguage === 'nl-NL') {Een verzameling van projecten die mijn technische vaardigheden en creativiteit demonstreren.}</p>
    </div>
    <div class="flex flex-wrap gap-7.5 justify-center">
        @for (project of projectMap.values(); track project) {
            <div class="z-10 relative flex flex-col border-2 border-primary-yellow w-100 rounded-xl bg-neutral-black/50 backdrop-blur-2xl shadow-lg shadow-black/20 opacity-75 hover:opacity-100 transition-all duration-150 ease-out">
                <img [src]="project.imagePath" alt="project 1" class="z-1 overflow-hidden rounded-t-[9px]">
                <div class="flex flex-col gap-2.5 p-7.5">
                    <h3 class="h3">{{ projectMap.get(0)?.title }}</h3>
                    <p class="p">{{ projectMap.get(0)?.shortDescription }}</p>
                </div>
                <div class="relative bottom-0 w-full">
                    <p class="px-7.5 pb-7.5"><span class="inline-block text-md"><i>TECHNOLOGIES:</i></span><br><span class="inline-block text-xs">{{ projectMap.get(0)?.technologies?.join(", ") }}</span></p>
                    <button
                    appMagneticButton
                    [magneticStrengthX]="8" 
                    [magneticStrengthY]="6"
                    id="project-expand-button"
                    (click)="toggleProjectExpand()"
                    class="select-none cursor-pointer w-full text-neutral-white rounded-b-lg p-3 pl-4 pr-4 font-bold bg-primary-yellow transition-all overflow-hidden">
                        @if (this.currLanguage === "en-US") {
                            <span #buttonText class="inline-block">Expand</span>
                        } @else if (this.currLanguage === "nl-NL") {
                            <span #buttonText class="inline-block">Vergroten</span>
                        }
                    </button>
                </div>
            </div>
            <div id="project-expand-container" class="hidden opacity-0 overflow-y-auto z-40 fixed w-full top-[100px] h-[calc(100vh-100px)] bg-black/70 backdrop-blur-xl border-t-1 border-neutral-white/50">
                <div class="flex flex-col flex-shrink-1 gap-7.5 flex-nowrap justify-self-center mt-10 w-[700px] max-w-[700px] h-100">
                    <button id="project-minimize-button" (click)="toggleProjectExpand()" class="flex gap-2.5 mt-1 w-[38px] h-[38px] items-center cursor-pointer opacity-75 hover:opacity-100 transition-all duration-150 ease-out">
                        <div class="w-[38px] h-[38px] space-y-2.5 -ml-1">
                            <div class="w-10 h-[4px] translate-x-[2px] translate-y-[7px] rotate-[-45deg] bg-neutral-white"></div>
                            <div class="w-10 h-[4px] translate-x-[2px] translate-y-[-7px] rotate-[45deg] bg-neutral-white"></div>
                        </div>
                        <span class="text-neutral-white text-xl -translate-y-[9px]">Close</span>
                    </button>
                    <img [src]="project.imagePath" alt="project 1" class="rounded-xl object-scale h-fit">
                    <h3 class="h3">{{ projectMap.get(0)?.title }}</h3>
                    <p class="p">{{ projectMap.get(0)?.longDescription }}</p>
                    <p class="px-7.5 pb-7.5"><span class="inline-block text-md"><i>TECHNOLOGIES:</i></span><br><span class="inline-block text-xs">{{ projectMap.get(0)?.technologies?.join(", ") }}</span></p>
                </div>
            </div>
        }
    </div>
</div>