<ul class="flex gap-9 font-bold text-neutral-white-darker">
    <a routerLink="/" class="pt-3 pb-3 hover:text-neutral-white transition duration-200 ease-in-out"><li>{{ linkArray[0] }}</li></a>
    <a routerLink="/" class="pt-3 pb-3 hover:text-neutral-white transition duration-200 ease-in-out"><li>{{ linkArray[1] }}</li></a>
    <a routerLink="/" class="pt-3 pb-3 hover:text-neutral-white transition duration-200 ease-in-out"><li>{{ linkArray[2] }}</li></a>
    <a routerLink="/" class="pt-3 pb-3 hover:text-neutral-white transition duration-200 ease-in-out"><li>{{ linkArray[3] }}</li></a>
</ul>