<ul class="lg:flex max-lg:flex-column max-lg:text-center lg:gap-9 max-lg:space-x-1 max-lg:mt-12 max-lg:mb-[50px] font-bold text-neutral-white-darker max-lg:text-4xl">
    <a appSubtleLinkAnimation routerLink="/" class="pt-3 pb-3 hover:text-neutral-white transition duration-200 ease-in-out">
        <li>{{ linkArray[0][0] }}</li>
        <p class="lg:hidden font-normal text-sm text-neutral-white/60 tracking-tighter">{{ linkArray[0][1] }}</p>
    </a>
    <a appSubtleLinkAnimation routerLink="/" class="pt-3 pb-3 hover:text-neutral-white transition duration-200 ease-in-out">
        <li>{{ linkArray[1][0] }}</li>
        <p class="lg:hidden font-normal text-sm text-neutral-white/60 tracking-tighter">{{ linkArray[1][1] }}</p>
    </a>
    <a appSubtleLinkAnimation routerLink="/" class="pt-3 pb-3 hover:text-neutral-white transition duration-200 ease-in-out">
        <li>{{ linkArray[2][0] }}</li>
        <p class="lg:hidden font-normal text-sm text-neutral-white/60 tracking-tighter">{{ linkArray[2][1] }}</p>
    </a>
    <a appSubtleLinkAnimation routerLink="/" class="pt-3 pb-3 hover:text-neutral-white transition duration-200 ease-in-out">
        <li>{{ linkArray[3][0] }}</li>
        <p class="lg:hidden font-normal text-sm text-neutral-white/60 tracking-tighter">{{ linkArray[3][1] }}</p>
    </a>
</ul>