<div class="flex-column flex-nowrap mt-30">
    <div class="w-fit mx-auto text-center max-w-200">
        <h2 class="h2 -translate-x-[5px]"><img class="inline-block -translate-y-1 max-lg:w-9" ngSrc="img/graduation.png" alt="graduation cap" width="40" height="40"/> @if (currLanguage === 'en-US') { Education} @else if (currLanguage === 'nl-NL') { Opleidingen}</h2>
        <p class="mb-7.5 mt-6">@if (currLanguage === 'en-US') {My educational journey has been pivotal in shaping who I've become. Here are some milestones that highlight this growth.} @else if (currLanguage === 'nl-NL') {Mijn educatieve achtergrond heeft me gevormd tot wie ik nu ben. Met enthousiasme deel ik graag de prestaties die hieraan hebben bijgedragen.}</p>
    </div>
    <div id="education-section-grid" class="grid max-md:grid-cols-1 max-xl:grid-cols-6 grid-cols-12 max-md:grid-rows-5 max-xl:grid-rows-3 grid-rows-2 gap-7.5 max-md:h-210 max-xl:h-154 h-100 mt-15">
        <div id="education-card-1" class="relative max-md:col-span-1 max-xl:col-span-6 col-span-8 row-1 w-full border-2 border-neutral-white-darker rounded-xl bg-black shadow-lg shadow-black/40" (mouseover)="onMouseOver(1)" (mouseleave)="onMouseLeave(1)">
            <div id="education-card-1-text-container" class="z-15 flex max-sm:scale-70 max-md:scale-85 max-sm:pl-5 max-md:pl-55 pl-60 pr-5 items-center justify-center absolute w-full h-full select-none pointer-events-none">
                <div class="relative flex-column w-fit h-fit text-center">
                    <h3 class="h3">MS, Software Engineering - AI Engineering</h3>
                    <p class="h3">Western Governors University</p>
                    <span style="font-size: 0.8rem;"><i>March 2026 (expected)</i></span>
                </div>
            </div>
            <img id="education-card-1-school-building-img" src="img/school-building.png" alt="school building" class="z-13 max-sm:hidden absolute rounded-xl overflow-visible max-md:w-50 w-[250px] -top-10 -left-5 select-none pointer-events-none">
            <div class="relative overflow-hidden w-full h-full">
                <img id="education-card-1-reflection-overlay-img" src="img/reflection-overlay.png" alt="reflection overlay" class="z-14 opacity-40 absolute top-10 object-cover rounded-xl min-w-[100%] select-none pointer-events-none">
                <div id="education-card-1-radial-gradient" class="z-11 absolute h-full w-full rounded-xl bg-radial-[at_10%_5%] from-[#7b8a8d] to-[#141717] opacity-70 select-none pointer-events-none"></div>
                <img id="education-card-1-bg-img" src="img/card-1-bg.jpg" alt="card background" class="z-10 absolute opacity-30 w-full h-full object-cover rounded-xl select-none pointer-events-none">
            </div>
        </div>
        <div id="education-card-2" class="relative max-md:col-span-1 max-xl:col-span-3 col-span-4 row-2 w-full border-2 border-neutral-white-darker rounded-xl bg-black shadow-lg shadow-black/40" (mouseover)="onMouseOver(2)" (mouseleave)="onMouseLeave(2)">
            <div id="education-card-2-text-container" class="z-15 flex max-sm:scale-70 max-md:scale-85 px-5 items-center justify-center absolute w-full h-full select-none pointer-events-none">
                <div class="relative flex-column w-fit h-fit text-center">
                    <h3 class="h3">BS, Software Engineering</h3>
                    <p class="h3">Western Governors University</p>
                    <span style="font-size: 0.8rem;"><i> Feb 2025</i></span>
                </div>
            </div>
            <div class="relative overflow-hidden w-full h-full">
                <img id="education-card-2-reflection-overlay-img" src="img/reflection-overlay.png" alt="reflection overlay" class="z-14 opacity-40 absolute top-10 max-md:left-0 left-20 object-cover rounded-xl min-w-[100%] select-none pointer-events-none">
                <div id="education-card-2-radial-gradient" class="z-11 absolute h-full w-full rounded-xl bg-radial-[at_10%_5%] from-[#7b8a8d] to-[#141717] opacity-70 select-none pointer-events-none"></div>
                <img id="education-card-2-bg-img" src="img/card-1-bg.jpg" alt="card background" class="z-10 absolute opacity-30 w-full h-full object-cover rounded-xl select-none pointer-events-none">
            </div>
        </div>
        <div id="education-card-3" class="relative max-md:col-span-1 max-xl:col-span-3 col-span-4 max-md:row-3 row-2 w-full border-2 border-neutral-white-darker rounded-xl bg-black shadow-lg shadow-black/40" (mouseover)="onMouseOver(3)" (mouseleave)="onMouseLeave(3)">
            <div id="education-card-3-text-container" class="z-15 flex max-sm:scale-70 max-md:scale-85 px-5 items-center justify-center absolute w-full h-full select-none pointer-events-none">
                <div class="relative flex-column w-fit h-fit text-center">
                    <h3 class="h3">AS, Business</h3>
                    <p class="h3">Santa Monica College</p>
                    <span style="font-size: 0.8rem;"><i> Sep 2021</i></span>
                </div>
            </div>
            <div class="relative overflow-hidden w-full h-full">
                <img id="education-card-3-reflection-overlay-img" src="img/reflection-overlay.png" alt="reflection overlay" class="z-14 opacity-40 absolute top-10 max-md:left-0 left-20 object-cover rounded-xl min-w-[100%] select-none pointer-events-none">
                <div id="education-card-3-radial-gradient" class="z-11 absolute h-full w-full rounded-xl bg-radial-[at_10%_5%] from-[#7b8a8d] to-[#141717] opacity-70 select-none pointer-events-none"></div>
                <img id="education-card-3-bg-img" src="img/card-1-bg.jpg" alt="card background" class="z-10 absolute opacity-30 w-full h-full object-cover rounded-xl select-none pointer-events-none">
            </div>
        </div>
        <div id="education-card-4" class="relative max-md:col-span-1 max-xl:col-span-6 col-span-4 max-md:row-4 max-xl:row-3 row-span-2 w-full border-2 border-neutral-white-darker rounded-xl max-xl:h-60 bg-black shadow-lg shadow-black/40" (mouseover)="onMouseOver(4)" (mouseleave)="onMouseLeave(4)">
            <div id="education-card-4-text-container" class="z-15 flex max-sm:scale-70 max-md:scale-85 px-0 items-center justify-center absolute w-full h-full select-none pointer-events-none">
                <div class="relative flex-column w-fit h-fit">
                    <h3 class="max-xl:text-center h3">Certificates</h3><br>
                    <div class="max-xl:flex max-xl:gap-20 max-md:gap-8 w-full text-sm">
                        <div>
                            <p class="mb-2">AWS Certified Cloud Practitioner (CLF)</p>
                            <p class="mb-2">CompTIA Project+</p>
                            <p class="mb-2">CompTIA A+</p>
                            <p>ITIL® v4 Foundation</p>
                        </div>
                        <div>
                            <p class="mb-2">NSLS Foundations of Leadership</p>
                            <p class="mb-2">SMC - Entrepreneurship</p>
                            <p>SMC - Marketing</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="relative overflow-hidden w-full h-full">
                <img id="education-card-4-reflection-overlay-img" src="img/reflection-overlay.png" alt="reflection overlay" class="z-14 opacity-40 absolute top-35 sm:top-25 md:top-10 xl:top-60 max-md:left-0 left-20 object-cover rounded-xl min-w-[100%] select-none pointer-events-none">
                <div id="education-card-4-radial-gradient" class="z-11 absolute h-full w-full rounded-xl bg-radial-[at_10%_5%] from-[#7b8a8d] to-[#141717] opacity-70 select-none pointer-events-none"></div>
                <img id="education-card-4-bg-img" src="img/card-1-bg.jpg" alt="card background" class="z-10 absolute opacity-30 w-full h-full object-cover rounded-xl select-none pointer-events-none">
            </div>
        </div>
    </div>
</div>