<div class="flex-column flex-nowrap mt-30 mb-50">
    <div class="w-fit mx-auto text-center max-w-200">
        <h1 class="h2 -translate-x-[5px]"><img class="inline-block -translate-y-1 max-lg:w-9" ngSrc="img/graduation.png" alt="graduation cap" width="40" height="40"/> @if (currLanguage === 'en-US') { Education} @else if (currLanguage === 'nl-NL') { Opleidingen}</h1>
        <p class="mb-7.5 mt-6">@if (currLanguage === 'en-US') {My educational journey has been pivotal in shaping who I've become. Here are some milestones that highlight this growth.} @else if (currLanguage === 'nl-NL') {Mijn educatieve achtergrond heeft me gevormd tot wie ik nu ben. Met enthousiasme deel ik graag de prestaties die hieraan hebben bijgedragen.}</p>
    </div>
    <div class="grid max-md:grid-cols-1 max-xl:grid-cols-6 grid-cols-12 max-md:grid-rows-5 max-xl:grid-rows-3 grid-rows-2 gap-7.5 max-md:h-260 max-xl:h-154 h-100 mt-15">
        <div class="relative max-md:col-span-1 max-xl:col-span-6 col-span-8 row-1 w-full border-2 border-neutral-white-darker rounded-xl bg-black shadow-lg shadow-black/40">
            <img src="img/school-building.png" alt="school building" class="z-13 absolute rounded-xl overflow-visible w-[250px] -top-10 -left-5 select-none pointer-events-none">
            <div class="relative overflow-hidden w-full h-full">
                <img src="img/reflection-overlay.png" alt="reflection overlay" class="z-14 opacity-40 absolute top-10 object-cover rounded-xl min-w-[100%] select-none pointer-events-none">
                <div class="z-11 absolute h-full w-full rounded-xl bg-radial-[at_10%_5%] from-[#7b8a8d] to-[#141717] opacity-70 select-none pointer-events-none"></div>
                <img src="img/card-1-bg.jpg" alt="card background" class="z-10 absolute opacity-30 w-full h-full object-cover rounded-xl select-none pointer-events-none">
            </div>
        </div>
        <div class="max-md:col-span-1 max-xl:col-span-3 col-span-4 row-2 w-full rounded-xl bg-black">
            
        </div>
        <div class="max-md:col-span-1 max-xl:col-span-3 col-span-4 max-md:row-3 row-2 w-full rounded-xl bg-black">
            
        </div>
        <div class="max-md:col-span-1 max-xl:col-span-6 col-span-4 max-md:row-4 max-xl:row-3 row-span-2 w-full rounded-xl bg-black">
            
        </div>
    </div>
</div>