<button class="bg-neutral-white-darker/90 hover:bg-neutral-white-darker text-neutral-black-lighter hover:text-neutral-black transition cursor-pointer duration-200 ease-in-out max-lg:mt-10 rounded-lg p-2 pl-3 pr-3 font-bold">
    <div class="flex w-full items-center justify-center space-x-1.5">
        <img [ngSrc]="currLangFlag" alt="united states country flag" width="20" height="11"/>
        <span [innerText]="currLangSelector"></span>
        <span class="text-xs">▼</span>
    </div>
</button>