@import "tailwindcss";


/*--------------*/
/* FONT IMPORTS */
/*--------------*/
/* ia-writer-mono-latin-400-normal */
@font-face {
  font-family: 'iA Writer Mono';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(@fontsource/ia-writer-mono/files/ia-writer-mono-latin-400-normal.woff2) format('woff2'), url(@fontsource/ia-writer-mono/files/ia-writer-mono-latin-400-normal.woff) format('woff');
}

/* ia-writer-mono-latin-700-normal */
@font-face {
  font-family: 'iA Writer Mono';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url(@fontsource/ia-writer-mono/files/ia-writer-mono-latin-700-normal.woff2) format('woff2'), url(@fontsource/ia-writer-mono/files/ia-writer-mono-latin-700-normal.woff) format('woff');
}

/* ia-writer-quattro-latin-400-normal */
@font-face {
  font-family: 'iA Writer Quattro';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(@fontsource/ia-writer-quattro/files/ia-writer-quattro-latin-400-normal.woff2) format('woff2'), url(@fontsource/ia-writer-quattro/files/ia-writer-quattro-latin-400-normal.woff) format('woff');
}

/* ia-writer-quattro-latin-700-normal */
@font-face {
  font-family: 'iA Writer Quattro';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url(@fontsource/ia-writer-quattro/files/ia-writer-quattro-latin-700-normal.woff2) format('woff2'), url(@fontsource/ia-writer-quattro/files/ia-writer-quattro-latin-700-normal.woff) format('woff');
}


/*------------------*/
/* GLOBAL VARIABLES */
/*------------------*/
:root {
    
    /*----- FONTS -----*/
    --sans: 'iA Writer Quattro', sans-serif;
    --serif: 'Lora', serif;
    --mono: 'iA Writer Mono', monospace;

    /*---- COLORS -----*/
    /* neutral colors */
    --neutral-black: #101010;
    --neutral-black-lighter: #343434;
    --neutral-white: #f8f8f8;
    --neutral-white-darker: #e0e0e0;

    /* accent colors */
    --primary-yellow: #de8651;
    --primary-yellow-brighter: #e99c6e;
    --primary-yelllow-darker: #ce7742;

    --secondary-teal: #7bb3bd;
    --secondary-teal-brighter: #92ccd6;
    --secondary-teal-darker: #689da7;

    --tertiary-red: #b95456;
    --tertiary-red-brighter: #cd6668;
    --tertiary-red-darker: #99494b;

    /* alternate accent colors (for dark mode) */
    --secondary-alt-teal: #89a4a9;
    --secondary-alt-teal-brighter: #9fb7bc;
    --secondary-alt-teal-darker: #6d8c92;

}