@import "tailwindcss";


/*--------------*/
/* FONT IMPORTS */
/*--------------*/
/* ia-writer-mono-latin-400-normal */
@font-face {
  font-family: 'iA Writer Mono';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(@fontsource/ia-writer-mono/files/ia-writer-mono-latin-400-normal.woff2) format('woff2'), url(@fontsource/ia-writer-mono/files/ia-writer-mono-latin-400-normal.woff) format('woff');
}

/* ia-writer-mono-latin-700-normal */
@font-face {
  font-family: 'iA Writer Mono';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url(@fontsource/ia-writer-mono/files/ia-writer-mono-latin-700-normal.woff2) format('woff2'), url(@fontsource/ia-writer-mono/files/ia-writer-mono-latin-700-normal.woff) format('woff');
}

/* ia-writer-quattro-latin-400-normal */
@font-face {
  font-family: 'iA Writer Quattro';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(@fontsource/ia-writer-quattro/files/ia-writer-quattro-latin-400-normal.woff2) format('woff2'), url(@fontsource/ia-writer-quattro/files/ia-writer-quattro-latin-400-normal.woff) format('woff');
}

/* ia-writer-quattro-latin-700-normal */
@font-face {
  font-family: 'iA Writer Quattro';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url(@fontsource/ia-writer-quattro/files/ia-writer-quattro-latin-700-normal.woff2) format('woff2'), url(@fontsource/ia-writer-quattro/files/ia-writer-quattro-latin-700-normal.woff) format('woff');
}


/*------------------*/
/* GLOBAL VARIABLES */
/*------------------*/
:root {
    
    /*----- FONTS -----*/
    --sans: 'iA Writer Quattro', sans-serif;
    --serif: 'Lora', serif;
    --mono: 'iA Writer Mono', monospace;

    /*---- COLORS -----*/
    /* neutral colors */
    --neutral-black: #101010;
    --neutral-black-lighter: #343434;
    --neutral-black-darker: #080808;
    --neutral-white: #f8f8f8;
    --neutral-white-darker: #dcdcdc;

    /* accent colors */
    --primary-yellow: #de8651;
    --primary-yellow-brighter: #e99c6e;
    --primary-yellow-darker: #ce7742;

    --secondary-teal: #7bb3bd;
    --secondary-teal-brighter: #92ccd6;
    --secondary-teal-darker: #689da7;

    --tertiary-red: #b95456;
    --tertiary-red-brighter: #cd6668;
    --tertiary-red-darker: #99494b;

    /* alternate accent colors (for dark mode) */
    --secondary-alt-teal: #89a4a9;
    --secondary-alt-teal-brighter: #9fb7bc;
    --secondary-alt-teal-darker: #6d8c92;

}


/*------------------------------*/
/* TAILWIND CSS THEME VARIABLES */
/*------------------------------*/
@theme {

    /*----- FONTS -----*/
    --font-sans: var(--sans);
    --font-serif: var(--serif);
    --font-mono: var(--mono);

    /*---- COLORS -----*/
    /* Neutral colors */
    --color-neutral-black: var(--neutral-black);
    --color-neutral-black-lighter: var(--neutral-black-lighter);
    --color-neutral-black-darker: var(--neutral-black-darker);
    --color-neutral-white: var(--neutral-white);
    --color-neutral-white-darker: var(--neutral-white-darker);

    /* Accent colors */
    --color-primary-yellow: var(--primary-yellow);
    --color-primary-yellow-brighter: var(--primary-yellow-brighter);
    --color-primary-yellow-darker: var(--primary-yellow-darker);

    --color-secondary-teal: var(--secondary-teal);
    --color-secondary-teal-brighter: var(--secondary-teal-brighter);
    --color-secondary-teal-darker: var(--secondary-teal-darker);

    --color-tertiary-red: var(--tertiary-red);
    --color-tertiary-red-brighter: var(--tertiary-red-brighter);
    --color-tertiary-red-darker: var(--tertiary-red-darker);

    /* Alternate accent colors (for dark mode) */
    --color-secondary-alt-teal: var(--secondary-alt-teal);
    --color-secondary-alt-teal-brighter: var(--secondary-alt-teal-brighter);
    --color-secondary-alt-teal-darker: var(--secondary-alt-teal-darker);

}

/*------------*/
/* TYPOGRAPHY */
/*------------*/

.h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.1;
  word-spacing: -10px;
  letter-spacing: -1px;
  margin-bottom: 1.1rem;

  @media (width <= 48rem) {
    font-size: 3rem;
  }
}

.h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
  word-spacing: -10px;
  letter-spacing: -1px;
  margin-bottom: 1.1rem;

  @media (width <= 48rem) {
    font-size: 2rem;
  }
}

.h3 {
  font-size: 1.4rem;
  font-weight: bold;
  word-spacing: -5px;
  letter-spacing: -1px;
}